/* ---------------------------------------------------------------     SWITCHEROO     ---------------------------------------------------------- */

:root {  --color-text: rgba(255, 255, 255, 0.87);
  --color-bg: #17141b;
  --color-delete: #e74c3c;
  --color-tooltip: #010203;
  --color-squircle: #000000;
  --color-accent: #b14255;
  --color-button: #aaa2f2;
  --color-pill: transparent;
  --gap-size: 16px;
  --ease: cubic-bezier(0.4, 0.0, 0.2, 1);
  --ease-bounce: cubic-bezier(0.43, 0.09, 0.38, 2.56);
}

.switcheroo {
  color: var(--couleur1);
  font-size: 16px;
}
.switcheroo[position="static"] {
  position: relative;
}
.switcheroo[position="top"] {
  z-index: 100;
}
.switcheroo[position="bottom"] {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.switcheroo[direction="horizontal"] {
  width: 100%;
}

.switcheroo__squircles {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 13px 8px;
    gap: 2px;
}
.switcheroo[direction="horizontal"] .switcheroo__squircles {
  flex-direction: row;
}
.switcheroo[direction="vertical"] .switcheroo__squircles {
  flex-direction: row-reverse;
}

/* squircle */
.switcheroo[theme="discord"] .switcheroo__squircle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white3);
}
.switcheroo[theme="discord"] .switcheroo__squircle {
    width: 20px;
    height: 20px;
    border: 0px double var(--fond1);
    cursor: pointer;
    transition: border-radius 128ms var(--ease);
margin-bottom: 5px;
}

.switcheroo[theme="discord"] .switcheroo__squircle img{transition:all 0.5s;}

.switcheroo[theme="discord"] .switcheroo__squircle img:hover {
  filter:grayscale(100%) invert(78%) sepia(67%) saturate(453%) hue-rotate(31deg) brightness(90%) contrast(81%);
}

.switcheroo[theme="discord"][direction="vertical"] .switcheroo__squircle:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
background-color: var(--r);
  position: absolute;
  border-radius: 4px;
  top: 50%;
  transform: translate(-100%, -50%) scale(0);
  transition: transform 128ms, opacity 64ms;
  pointer-events: none;
  opacity: 0;
}

.switcheroo[theme="discord"][direction="horizontal"] .switcheroo__squircle:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--blanc);
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translate(-50%, -100%) scale(0);
  transition: transform 128ms, opacity 64ms;
  pointer-events: none;
  opacity: 0;
}

.switcheroo[theme="discord"] .switcheroo__squircle.active {
  border-radius: 100%;
  cursor: default;
}
.switcheroo[theme="discord"][direction="vertical"] .switcheroo__squircle:hover:before {
  opacity: 1;
  transform: translate(-100%, -50%) scale(0.5);
}
.switcheroo[theme="discord"][direction="horizontal"] .switcheroo__squircle:hover:before {
  opacity: 1;
  transform: translate(-50%, -100%) scale(0.5);
}

.switcheroo[theme="discord"][direction="vertical"] .switcheroo__squircle.active:before {
  opacity: 1;
  transform: translate(-85%, -50%) scale(0.2);
  border-radius: 50%;
}
.switcheroo[theme="discord"][direction="horizontal"] .switcheroo__squircle.active:before {
  opacity: 1;
  transform: translate(-50%, -85%) scale(0.2);
  border-radius: 50%;
}


/* tooltip */
.switcheroo__popper {
  background-color: var(--blanc);
  padding: 0.68rem 1rem;
  position: absolute;
  width: -webkit-max-content;
  width: max-content;
  z-index: 999;
  opacity: 0;
  transition: opacity 64ms var(--ease), transform 128ms var(--ease-bounce);
  pointer-events: none;
  color: var(--r);
}
.switcheroo[direction="vertical"] .switcheroo__popper {
  right: 115%;
  top: 50%;
  transform-origin: right;
  transform: translateY(-50%) scale(0.98);
}

.switcheroo[direction="horizontal"] .switcheroo__popper {
  top: 155%;
  right: 50%;
  transform-origin: top;
  transform: translateX(-50%) scale(0.98);
}
.switcheroo__popper:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: var(--blanc);
  z-index: -1;
}
.switcheroo[direction="vertical"] .switcheroo__popper:before {
  left: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.switcheroo[direction="horizontal"] .switcheroo__popper:before {
  left: 50%;
  top: -2px;
  transform: translateX(-50%) rotate(-45deg);
}

.switcheroo[direction="horizontal"] .switcheroo__popper {
  top: 155%;
  right: 50%;
  transform-origin: top;
  transform: translateX(-50%) scale(0.98);
}

.switcheroo[direction="horizontal"] .switcheroo__squircle:hover .switcheroo__popper {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
.switcheroo[direction="horizontal"] .switcheroo__squircle:hover .switcheroo__popper {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
.switcheroo__squircle:hover:before {
  opacity: 1;
  transform: translate(-100%, -50%) scale(0.5);
}


/* avatar */
.switcheroo[theme="discord"] .switcheroo__avatar {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
}

.switcheroo[theme="discord"] .switcheroo__avatar img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* divider */
.switcheroo[theme="discord"][direction="vertical"] .switcheroo__divider {
  width: 100%;
  height: 2px;
  background-color: var(--color-pill);
  border-radius: 1px;
  opacity: 0.06;
  transform: scale(0.8);
}
.switcheroo[theme="discord"][direction="horizontal"] .switcheroo__divider {
  width: 2px;
  background-color: var(--color-pill);
  border-radius: 1px;
  opacity: 0.06;
  transform: scale(0.8);
}

/* delete button */
.switcheroo[theme="discord"] .switcheroo__delete {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 14px;
  line-height: 12px;
  height: 14px;
  top: -5px;
  right: -5px;
  border-radius: 50%;
color: var(--v);
background-color:var(--fond2);
  transform: scale(0);
  opacity: 1;
  transition: transform 128ms var(--ease), opacity 64ms var(--ease);
  cursor: pointer;
  font-size: 11px;
}
.switcheroo[theme="discord"] .switcheroo__squircle:hover .switcheroo__delete {
  opacity: 1;
  transform: scale(1);
}

/* logo */

.switcheroo[theme="discord"] .switcheroo__logo img {
  width: 32px;
}
.switcheroo[theme="discord"] .switcheroo__logo:hover {
  background-color: var(--v);
}
/* buttons */
.switcheroo[theme="discord"] .switcheroo__squircle--button {
  transition: border-radius 128ms var(--ease);
  color: var(--v);
}
.switcheroo[theme="discord"] .switcheroo__squircle--button:hover {
  color: var(--v);
  background-color:var(--fond2);
height:20px;}


.switcheroo__squircles{display: flex;
    flex-direction: column!important;
    justify-content: space-evenly;
    height: 110px;}




/* modal */

.switcheroo__form {
    padding: 3px 10px;
}
.switcheroo__form-row {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-bottom: -3px;
margin-top: 10px;
}
.switcheroo__form-label {margin-bottom: 8px;
    font-size: 12px;
    text-transform: lowercase;
    color: var(--couleur2);
    font-family: 'canterbury';
    font-weight: 900;
    letter-spacing: 2px;
}
.switcheroo__form-input {padding: 2px !important;
    font-size: 11px !important;
    width: 97% !important;
    border: 1px solid var(--v);
    cursor: text !important;
}
.switcheroo__form-button {border-radius: 0px;
    padding: 3px 38px;
    width: 100%;
    margin-right: 0px;
    margin-top: 3px;
    margin-left: 0px;
    border: none;
    outline: none;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 11px;
    align-self: flex-end;
    color: var(--v);
    border:1px solid var(--fond1);
    background-color: var(--fond4);
    font-family: arial;
    letter-spacing: 0px;
border-radius:0px;
   font-family: avenir next demi;
    letter-spacing: 0px;
font-style:italic;
}

.monomer-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s opacity ease;
}

.monomer-modal {position: fixed;
    z-index: 999;
    top: 50vh;
    left: 50vw;
    opacity: 0;
    width: 94%;
    padding: 10px 10px;
    transition: 0.2s opacity ease;
    transform: translate(-50%, -50%);
    border-radius: 0px;
    background: var(--fond3);
    outline: solid 1px var(--couleur1);
    outline-offset: 0;
    border: 1px solid var(--couleur205);
    color: var(--v);
}

.monomer-modal.monomer-open.monomer-anchored {
  top: 20px;
  transform: translate(-50%, 0);
}

.monomer-modal.monomer-open {
    max-width: 300px!important;
    min-width: 100px!important;
    opacity: 1;
}

.monomer-overlay.monomer-open {
  opacity: 1;
}

.monomer-close {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  border: 0;
  outline: none;
  background: var(--couleur1);
  border-radius: 50%;
  padding: 0;
}
.monomer-close:hover {
  opacity: 0.8;
}


/* SWITCHEROO */

.s_plus {
    position: fixed;
    left: 83px;
    top: 82px;
    background-color: var(--couleur109);
    color: var(--v);
    height: 10px;
    width: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    outline: 1px solid var(--couleur109);
    outline-offset: 1px;

}

.switchbar {
    align-items: stretch;
    background-color: var(--fond4);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 140px;
    justify-content: space-evenly;
    overflow: hidden;
    padding-top: 4px;
    position: fixed;
    text-align: justify;
    top: 80px;
    left: 81px;
    transition: .5s;
    width: 0;
    z-index: 997;
}

.switchbar .closebouton {
    align-items: center;
   color:var(--v);
   text-decoration:none;
    display: flex;
    font-family: arial;
    font-size: 11px;
    font-weight: 700;
    height: 12px;
    left: -23px;
    letter-spacing: 3px;
    padding: 2px 27px;
    position: absolute;
    top: -1px;
    z-index: 999;
}

.switchbar .closebouton:hover{text-decoration:none!important;}

.openbouton {transition: all 1s; background-color: transparent;
border-color: initial;
border-image: initial;
border-style: none;
border-width: initial;
cursor: pointer;}


@media screen and (max-height: 450px) {
  .switchbar {padding-top: 15px;}
  .switch a {font-size: 18px;}}





#fa_toolbar .fa_avatar{
    position: fixed;
    margin-top: 80px!important;
    margin-left: 37px;}

#fa_toolbar .fa_avatar img{ height: 40px;
    width: 40px!important;
    object-fit: cover;}



.openbouton {transition: all 1s; background-color: transparent;border-color: initial;border-image: initial;border-style: none;border-width: initial;cursor: pointer;}

@media screen and (max-height: 450px) {
  .switchbar {padding-top: 15px;}
  .switch a {font-size: 18px;}}






/* ------------------------------------------------------      PAGE D'ACCUEIL      ----------------------------------------------------------- */



.haut_pa{display:flex; justify-content:space-around; padding-top:10px; width:400px;  margin-left:40px;}

.pa_c1{display:flex; flex-direction:column;margin-top:-5px; width:150px;}

.baton_rouge{width:1px; background-color:var(--r); height:197px; margin-right:-45px; z-index:1; margin-top:10px; margin-left:-40px;}

.contexte_pa{width:155px;
height:120px;
font-size:10px;
text-align:justify;
background-color:var(--fond3);
color:var(--gris);
padding-left:8px; margin-left:-10px;border-bottom:5px solid var(--fond2);}

.contextett_pa{
color:var(--blanc);
font-family:canterbury; 
font-size:14px;
padding:0 6px;
background-color:var(--fond1);
margin-left:-3px;
line-height:25px;
height:22px;}

.contexte_texte{overflow-y:auto; height:95px; padding:0px 7px 0px 3px;}

.pa_c2{width:260px; font-size:9px; margin-right: -56px; margin-left:-40px; margin-top:-5px; height:210px;}

/* partie staff */

.staff_pa{display:flex; width:160px;border: 0px solid white;
padding:0px; flex-direction:row; flex-wrap: wrap;margin-top:6px;}

.staff_pa div{width:50px;}

.image_staff_pa, .image_staff_pa2, .image_staff_pa3, .image_staff_pa4, .image_staff_pa5, .image_staff_pa6{width:37px!important;; object-fit:cover; height:19px; border-radius:13px;
border:5px solid var(--fond1); margin-bottom:2px;
background-image:url('https://images2.imgbox.com/e9/58/gf4JkXN8_o.jpg'); 
background-size:cover;}

.filtre_img_pa1, .filtre_img_pa2, .filtre_img_pa3, .filtre_img_pa4, .filtre_img_pa5, .filtre_img_pa6{width:37px!important; background-color:rgb(96, 130, 42); height:19px; position:relative; margin-top:0px;
margin-bottom:7px; left:0px; border-radius:8px; opacity:0; transition:all 0.5s;}

.image_staff_pa:hover .filtre_img_pa1, .image_staff_pa2:hover .filtre_img_pa2, .image_staff_pa3:hover .filtre_img_pa3, .image_staff_pa4:hover .filtre_img_pa4, .image_staff_pa5:hover .filtre_img_pa5, .image_staff_pa6:hover .filtre_img_pa6{opacity:0.5!important;}


.staff_texte_pa{font-size:7px; color:var(--blanc); font-style:italic; white-space:nowrap;}

/* partie infos */

.stats_pa{width:248px; font-size:10px;
text-align:justify;
background-color:var(--fond3);
color:var(--gris);
padding-right:10px; margin-left:6px;
height:90px;
margin-bottom:10px;
border-bottom:5px solid var(--fond2);}

.statstt_pa{color:var(--blanc);
font-family:canterbury; 
font-size:14px;
padding:0 6px;
background-color:var(--fond1);
margin-left:0px;
line-height:25px;
height:22px;
width:242px;}

.stats_texte_pa{padding:5px; padding-left:7px;
overflow-y:auto;
overflow-x:hidden;
height:55px;}

.infos_pa{width:248px; font-size:10px; text-align:justify;
background-color:var(--fond3);
color:var(--gris);
padding-right:10px; margin-left:6px;
height:100px;
margin-bottom:10px; border-bottom:5px solid var(--fond2);}

.infos_pa_colonnes{display:flex; padding:5px; padding-left:7px;justify-content:space-between;}

.infos_pa_colonnes div{overflow-y:auto;
overflow-x:hidden;
height:70px; width:115px;}


.baton_rouge2{width:1px; height:89px;background-color:var(--r); margin-right:-35px; margin-left:5px;}



/* BAS PA */

.bas_pa{width:386px; height:218px;
position:relative; top:465px; left:32px;
border1px solid white;padding-top:5px; padding-right:4px; padding-left:4px;}

.bas_pa_colonnes{display:flex; justify-content:space-around;}

.pa_news{width:170px; background-color:var(--fond4); height:185px;
font-size:10px; color:var(--gris); text-align:justify;}

.pa_news_texte{padding:4px 7px; height:150px; overflow-y:auto;}

.bas_pa_titre{background-color:var(--fond2); color:var(--blanc); font-family:canterbury; font-size:14px;padding-left:15px; height:20px;}

.bas_pa_titre_img{ width:15px;margin-bottom:-3px; margin-top:2px;}

.pa_raccourcis{ width:185px; background-color:var(--fond1); height:205px; border:3px solid var(--fond4);}

.pa_raccourcis_liens{display:flex; flex-direction:column; justify-content:space-around; height:180px;}

.b_pa_link{width:170px; height:18px; background-color:var(--fond3); margin:auto; padding-left:5px; line-height:20px; text-transform:uppercase;}

.b_pa_link a{text-decoration:none; color:var(--blanc)!important; font-family: avenir next bold; letter-spacing:0px; transition: all 0.5s;}

.b_pa_link a:hover{text-decoration:none!important; letter-spacing:0.5px; color:var(--v)!important;}

.pa_raccourcis_liens a{font-size:9px;}

.b_pa_partenaires{color:var(--v); padding-left:10px; text-transform:uppercase; font-size:11px; font-style:italic; font-family:avenir next demi; margin-top:2px;background-color:var(--fond3); width:165px; margin:auto; height:53px; margin-bottom:-1px;padding-top:5px; }

.b_pa_partenaires2{display:flex; justify-content:space-around; margin-left:-8px;}

.img_partenaires_pa{margin-top:2px; transition:all 1.3s;
width:30px; border-radius:3px;}

.img_partenaires_pa:hover{transform:rotate(90deg);}

.bouton_pa{margin-top:-20px;margin-left:7px; width:164px; background-color:var(--fond4); border:3px solid var(--fond1); font-size:10px; color:var(--blanc); text-align:center; height:15px; line-height:15px; font-style:italic;}

.bas_pa_explicatif{border:4px solid var(--fond4); position:absolute; background-color:var(--fond3);
text-align:justify;
top:-99px; left:-449px; width:380px; height:126px;
border-bottom-right-radius:30px;
border-bottom-left-radius:30px;
padding:5px;opacity:0; transition: all .5s;}

.bouton_pa:hover .bas_pa_explicatif{opacity:1!important;} 

.monthly_pa{position:relative; bottom:-36px; left:-4px; text-align:center; background-color:var(--fond4); width:388px; height:20px;
border-bottom-right-radius:50px;
border-bottom-left-radius:50px; line-height:25px;
font-family:canterbury; font-size:13px; font-style:normal;}

/* SOUS LA PA */

.liens_fo2{display:flex; justify-content:space-around;}

.liens_fo{color:var(--blanc)!important; text-decoration:none; margin-bottom:5px;text-transform:uppercase; font-size:10px;}

.liens_fo:hover{text-decoration:none!important;}







/*---------------------------------------------------------------       CATEGORIES      ----------------------------------------------------------*/

.bodyline{background-image:url("https://images2.imgbox.com/cf/2b/EkaU32MU_o.jpg")!important;
background-size:100%;
background-repeat:repeat-y!important;}

.cate_tt{max-width:900px; background-color:var(--fond5);
border:1px solid var(--gris);
text-align:right;
padding-right:140px;
height:50px;
line-height:10px;
}

.cate_tt h2{color:var(--blanc); font-size:20px; font-family:canterbury; margin-top:0px;}

.img_catett{width:30px; margin-bottom:-10px; margin-right:10px;}

.container_cate{display:flex;height:120px; justify-content:space-around;
background-color:var(--fond1); margin-bottom:5px;
border-bottom:1px solid var(--fond2);
border-top:1px solid var(--fond2);}

.cate_colonne1{display:flex; justify-content:space-around;
margin-top:15px;}

.cate_newnonew{width:40px; height:70px;margin-top:20px; margin-right:5px;}

.cate_separation{width:1px; height:67px; background-color:var(--gris); margin: 0 7px; margin-top:22px;}

.cate_texte{text-align:justify; border:0px solid white; 
padding-right:7px; padding-left:7px;
width:400px;
height:65px; 
margin-top:20px;
overflow-y:auto;
font-size:9px;
color:var(--gris); border-right:1px solid var(--r); 
font-style:italic;}

.cate_colonne2{display:flex; flex-direction:column;}

.cate_forumtt{background-image:linear-gradient(90deg, var(--jaune2), var(--v3));
width:260px;
margin-left:-10px;
margin-right:-20px;
margin-top:7px;
border-radius:30px;
text-align:center;
height:18px;
line-height:18px;}

.cate_forumtt a{text-decoration:none!important;
text-transform:uppercase;
font-size:9.5px; color:var(--fond4)!important; letter-spacing:0.5px;
font-family:avenir next;
transition: all 0.7s;}

.cate_forumtt a:hover{text-decoration:none!important;color:var(--fond4)!important; letter-spacing:-0.3px;}

.cate_forumtt img{display:none;}

.cate_last{display:flex;}

.cate_imglast img{ width:65px; height:65px; object-fit:cover; border-radius:50px;
border:3px solid var(--fond2);
margin-top:5px;}

.cate_lastp{color:var(--blanc); font-size:9px; text-transform:uppercase; margin-top:20px; margin-left:20px;
font-family:avenir next; width: 140px;}

.cate_lastp a{ color:var(--blanc)!important; text-decoration:none; font-style:italic; font-family:avenir next demi;
font-size:11px; transition:all 0.4s;}

.cate_lastp a:hover, .cate_lastp a.gensmall:hover{text-decoration:none!important; letter-spacing:-0.4px;}

.cate_lastp a.gensmall{color:var(--v)!important; text-transform:lowercase; letter-spacing:1.3px; font-style:normal; font-size:10px; transition:all 1.5s;}

.cate_nombre{font-size:7px; color:var(--blanc); letter-spacing:2.4px; font-style:italic; margin-top:4px;
margin-left:20px;}

.last-post-icon img{width:10px;  margin-bottom:-2px;}

.cate_lastp a img{width:10px;}

.cate_ssfo{width:103px;
height:65px; 
overflow-y:auto;
border:0px solid white;
margin-left:8px;
font-style:italic;
position:relative; 
margin-right:-40px; 
margin-top:20px;
display:flex;
flex-direction:column;
text-align:center;
font-size:0px;}

.cate_ssfo a{font-size:8px; line-height:11px;
color:var(--gris)!important; transition:all 0.5s;}

.cate_ssfo a:hover{
color:var(--v)!important;text-decoration:none!important; letter-spacing:-0.5px;}




/* --------------------------------------------------------      QEEL.    ------------------------------------------------------------------------- */

.qeel_container{display:flex;
background-image:url('https://images2.imgbox.com/83/13/05mgiYNS_o.jpg');
background-size:100%;
height:377px;
width:900px;}

.qeel_colonne1{width:265px;
border:0px solid white; display:flex; flex-direction:column;
justify-content:space-around;}

#qeel_rond1{width:30px; height:30px; background-color:var(--g1);
border-radius:50px;
float:right;
margin-top:50px;
margin-right:35px;
outline:1px solid var(--g1);
outline-offset:3px;
transition:all 0.2s;}


#qeel_rond1:hover{outline-offset:1px;
box-shadow:0px 0px 0px 5px var(--g1b);}

#qeel_rond2{width:30px; height:30px; background-color:var(--g2);
border-radius:50px;
float:right;margin-right:35px;
outline:1px solid var(--g2);
outline-offset:3px;
transition:all 0.2s;}

#qeel_rond2:hover{outline-offset:1px;
box-shadow:0px 0px 0px 5px var(--g2b);}

#qeel_rond3{width:30px; height:30px; background-color:var(--g3);
border-radius:50px;
float:right;margin-right:35px;
outline:1px solid var(--g3);
outline-offset:3px;
transition:all 0.3s;}

#qeel_rond3:hover{outline-offset:1px;
box-shadow:0px 0px 0px 5px var(--g3b);}

#qeel_rond4{width:30px; height:30px; background-color:var(--g4);
border-radius:50px;
float:right;margin-bottom:10px;margin-right:35px;
outline:1px solid var(--g4);
outline-offset:3px;
transition:all 0.3s;}

#qeel_rond4:hover{outline-offset:1px;
box-shadow:0px 0px 0px 5px var(--g4b);}

#avatar_dernier_membre{height:0px; margin-top:-20px; }

#avatar_dernier_membre img{width:38px; height:38px;
object-fit:cover;
margin-top:-128px;
margin-left:47px;
border-radius:50px;
border:3px solid;
}

.qeel_welcome{border:0px solid white; margin-bottom:40px; height:70px; display:flex; justify-content:space-between;}

#qeel_bienvenue{ width:130px;
color:var(--blanc);}

#qeel_total{ width:100px;
color:var(--blanc);}

#qeel_bienvenue{background-image:linear-gradient(var(--r2), var(--r));
border-top:5px solid var(--fond2);
border-bottom:5px solid var(--fond2);
font-family:canterbury;
text-align:center;
padding-top:25px;
}

#qeel_bienvenue a{content: "\A";
white-space: pre;
text-decoration:none;
font-family:avenir next italic;
font-size:10px;
text-transform:lowercase;
letter-spacing:0.4px;
color:var(--v);
transition:all 0.7s;}

#qeel_bienvenue a:hover{text-decoration:none!important;
letter-spacing:0.8px;}

#qeel_total{display:flex; flex-direction:column; justify-content:center;
background-color:var(--fond1);
height:60px;
width:120px;
border-top:5px solid var(--fond2);
border-bottom:5px solid var(--fond2);
border-radius:6px; margin-right:5px;}

#qeel_total div{ height:23px; width:90px;
margin:auto;background-image:linear-gradient(var(--r2),var(--r));
font-size:9px; text-align:center;line-height:20px;
margin-bottom:2px;margin-top:2px;
font-weight:400!important;font-style:italic;}

#qeel_total strong{font-weight:400!important;font-size:8px; font-style:italic;}


.qeel_colonne2{width:290px; display:flex;justify-content:center;}

.qeel_img{ width:230px; height:250px; object-fit:cover;margin-top:50px; margin-right:-20px;
outline:1px solid var(--fond2);
outline-offset:7px;
border-radius:6px;}

#qeel_groupe1{height:250px; width:230px; background-color:var(--g1);
position:relative; 
margin-top:50px; margin-right:-20px;
outline:1px solid var(--fond2);
outline-offset:7px;
border-radius:13px;
transition:all 0.3s!important;}

#qeel_groupe2{height:250px; width:230px; background-color:var(--g2);
position:relative; 
margin-top:50px; margin-right:-20px;
outline:1px solid var(--fond2);
outline-offset:7px;
border-radius:13px;
transition:all 0.3s!important;}

#qeel_groupe3{height:250px; width:230px; background-color:var(--g3);
position:relative; 
margin-top:50px; margin-right:-20px;
outline:1px solid var(--fond2);
outline-offset:7px;
border-radius:13px;
transition:all 0.3s!important;}

#qeel_groupe4{height:250px; width:230px; background-color:var(--g4);
position:relative; 
margin-top:50px; margin-right:-20px;
outline:1px solid var(--fond2);
outline-offset:7px;
border-radius:13px;
transition:all 0.3s!important;}

.qeel_groupe{font-size:9px;
text-align:justify; width:190px; border:1px solid var(--fond1); 
border-radius:10px;margin:auto; height:210px; margin-top:10px;
padding:10px;
overflow-y:hidden;
font-style:italic;}

.qeel_gtt{font-family:canterbury; text-align:center; font-size:20px; margin:auto;margin-top:0px; border-bottom:1px solid; width:170px; margin-bottom:8px;
line-height:22px;
letter-spacing:2px;}



.qeel_colonne3{
border:0px solid white; 
width:335px;
height:235px;
display:flex; 
flex-direction:column;
justify-content:space-around;
padding:50px 0 70px 0;}

.qeel_lastonline{
background-color:var(--fond4); 
width:270px;
margin:auto; 
font-size:7px; 
height:35px;
border-top:5px solid var(--fond2);
border-top-left-radius:10px;
padding:15px 20px;
text-transform:uppercase;
font-family:avenir next demi;
color:var(--gris3);
}

.qeel_lastonline a{text-decoration:none; text-transform:uppercase;
font-family:avenir next demi; font-weight:400;}


#qeel_24h span:hover{color:var(--v)!important; text-decoration:none!important;}

#qeel_24h a{ text-decoration:none!important;}

#us_online{color:var(--blanc); text-transform:uppercase; font-size:7px;
margin:auto;
letter-spacing:0.2px;}

.qeel_online{
background-color:var(--fond4); 
width:270px;
margin:auto; 
height:35px;
border-bottom:5px solid var(--fond2);
border-bottom-left-radius:10px;
padding:12px 20px;
text-transform:uppercase;
font-family:avenir next demi;
color:var(--gris3);
overflow-y:auto;
}

.qeel_online span{color:var(--gris3); 
background-color:var(--fond4);
font-size:7px; 
text-transform:uppercase;
font-family:avenir next demi;}

.qeel_online span a{text-decoration:none;}

.qeel_online span a:hover{text-decoration:none!important; color:var(--v)!important;}

.qeel_online td.row1{background-color:var(--fond4);}

.qeel_fin{display:flex; justify-content:space-around; margin:0 10px;height:43px;}

.qeel_fin div{
width:90px; 
background-color:var(--fond2);
color:var(--blanc);
font-size:12px;
font-family:canterbury;
text-align:center;
padding:10px 5px;
transition: all 1s!important;
}

.qeel_fin a, .qeel_fin a:hover{text-decoration:none!important;}

.qeel_fin div:hover{ border-radius:10px; letter-spacing:-0.5px; font-size:14px; height:23px;}



